// Callouts from just-the-docs have been replaced with admonitions.

@use "vars";

$admon-bg-opacity-hex: 33; // 0.2 opacity

:root {
  --admonition-bg: #{vars.$grey-dk-000}#{$admon-bg-opacity-hex};
  --admonition-title: #{vars.$grey-dk-300};
}
body.dark {
  --admonition-bg: #{vars.$grey-lt-300}#{$admon-bg-opacity-hex};
  --admonition-title: #{vars.$grey-lt-000};
}

.admonition {
  margin: 1rem 0;
  background-color: var(--admonition-bg);
  // background-color: var(--admonition-bg);
  border-left: vars.$border-radius solid var(--admonition-title);
  border-radius: vars.$border-radius;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  padding: .8rem;
  > p.admonition-title {
    color: var(--admonition-title);
    font-weight: bold;
    text-transform: uppercase;
    font-size: .75em;
    padding-bottom: .125rem;
    margin: 0;
  }
  > p:first-child {
    margin-top: 0;
  }
  > p:last-child {
    margin-bottom: 0;
  }
  // .quote is the default grey
  &.note, &.info, &.abstract {
    --admonition-bg: #{vars.$blue-000}#{$admon-bg-opacity-hex};
    --admonition-title: #{vars.$blue-300};
  }
  &.question, &.hint, &.example {
    --admonition-bg: #{vars.$purple-000}#{$admon-bg-opacity-hex};
    --admonition-title: #{vars.$purple-300};
  }
  &.caution, &.warning, &.attention, &.important {
    --admonition-bg: #{vars.$yellow-000}#{$admon-bg-opacity-hex};
    --admonition-title: #{vars.$yellow-300};
  }
  &.danger, &.error, &.bug, &.failure {
    --admonition-bg: #{vars.$red-000}#{$admon-bg-opacity-hex};
    --admonition-title: #{vars.$red-300};
  }
  &.new, &.success, &.tip {
    --admonition-bg: #{vars.$green-000}#{$admon-bg-opacity-hex};
    --admonition-title: #{vars.$green-300};
  }
}
body.dark .admonition {
  // .quote is the default grey
  &.note, &.info, &.abstract {
    --admonition-bg: #{vars.$blue-300}#{$admon-bg-opacity-hex};
    --admonition-title: #{vars.$blue-000};
  }
  &.question, &.hint, &.example {
    --admonition-bg: #{vars.$purple-300}#{$admon-bg-opacity-hex};
    --admonition-title: #{vars.$purple-000};
  }
  &.caution, &.warning, &.attention, &.important {
    --admonition-bg: #{vars.$yellow-300}#{$admon-bg-opacity-hex};
    --admonition-title: #{vars.$yellow-000};
  }
  &.danger, &.error, &.bug, &.failure {
    --admonition-bg: #{vars.$red-300}#{$admon-bg-opacity-hex};
    --admonition-title: #{vars.$red-000};
  }
  &.new, &.success, &.tip {
    --admonition-bg: #{vars.$green-300}#{$admon-bg-opacity-hex};
    --admonition-title: #{vars.$green-000};
  }
}
