// Base element style overrides
// stylelint-disable selector-no-type, selector-max-type, selector-max-specificity, selector-max-id

@use "mixins";
@use "vars";

:root {
  color-scheme: var(--color-scheme);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  @include mixins.fs-4;
}

body {
  font-family: vars.$body-font-family;
  font-size: inherit;
  line-height: vars.$body-line-height;
  color: var(--body-text-color);
  background-color: var(--body-background-color);
  overflow-wrap: break-word;
}

ol,
ul,
dl,
pre,
address,
blockquote,
table,
div,
hr,
form,
fieldset,
noscript .table-wrapper {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
#toctitle {
  margin-top: 0;
  margin-bottom: 1em;
  font-weight: 500;
  line-height: vars.$body-heading-line-height;
  color: var(--body-heading-color);
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:not([class]) {
  text-decoration: underline;
  // TODO: replace with CSS variables
  text-decoration-color: #{vars.$link-color}33; // same effect as rgba(vars.$link-color, 0.2);
  text-underline-offset: 2px;

  &:hover {
    text-decoration-color: #{vars.$link-color}73; // same effect as rgba(vars.$link-color, 0.45);
  }
}

code {
  font-family: vars.$mono-font-family;
  font-size: 0.75em;
  line-height: vars.$body-line-height;
}

figure,
pre {
  margin: 0;
}

li {
  margin: 0.25em 0;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  height: 1px;
  padding: 0;
  margin: vars.$sp-6 0;
  background-color: var(--border-color);
  border: 0;
}

// adds a GitHub-style sidebar to blockquotes
blockquote {
  margin: 10px 0;

  // resets user-agent stylesheets for blockquotes
  margin-block-start: 0;
  margin-inline-start: 0;
  padding-left: 1rem;
  border-left: 3px solid var(--border-color);
}
