// Labels (not the form kind)
@use "mixins";
@use "vars";

// this :not() prevents a style clash with Mermaid.js's
// diagram labels, which also use .label
.label:not(g),
.label-blue:not(g),
.tags > ul > li {
  display: inline-block;
  padding: 0.16em 0.56em;
  margin-right: vars.$sp-2;
  margin-left: vars.$sp-2;
  color: vars.$white;
  text-transform: uppercase;
  vertical-align: middle;
  background-color: vars.$blue-100;
  border-radius: 12px;
  @include mixins.fs-2;
  > a {
    color: inherit;
  }
}

.label-green:not(g) {
  background-color: vars.$green-200;
  > a {
    color: inherit;
  }
}

.label-purple:not(g) {
  background-color: vars.$purple-100;
  > a {
    color: inherit;
  }
}

.label-red:not(g) {
  background-color: vars.$red-200;
  > a {
    color: inherit;
  }
}

.label-yellow:not(g) {
  color: vars.$grey-dk-200;
  background-color: vars.$yellow-200;
  > a {
    color: inherit;
  }
}

// The list of tags below the page body is formatted similarly to
// a series of labels (see above)
.tags {
  padding-top: 2rem;
  > h4 > a {
    color: inherit;
    font-weight: bold;
  }
  > ul {
    margin: 1rem 0;
    padding: 0;
    list-style: none;
    > li:first-child {
      margin-left: 0;
    }
  }
}
