// Search input and autocomplete

// Pagefind styling

#search {
  --pagefind-ui-scale: .875;
  --pagefind-ui-background: $body-background-color;
  --pagefind-ui-text: $body-text-color;
  --pagefind-ui-font: $body-font-family;
  .pagefind-ui__form {
    background-color: $body-background-color;
  }
  .pagefind-ui__form::before {
    background-color: $body-text-color;
  }
  .pagefind-ui__search-input {
    border: none;
    font-weight: normal;
  }
  .pagefind-ui__search-input::placeholder {
    color: var(--pagefind-ui-text);
    opacity: .5;
  }
  .pagefind-ui__results-area {
    background: $body-background-color;
    padding: 0 1em 1em 2em;
  }
  .pagefind-ui__result {
    padding: .5em 0 1.2em;
  }
  .pagefind-ui__drawer {
    padding-bottom: 1em;
    border-bottom: 4px solid $border-color;
    margin-bottom: 2em;
  }
}

// Styling for older search system based on lunr; needs cleanup

.search {
  position: relative;
  z-index: 2;
  flex-grow: 1;
  min-height: $header-height;
  padding: $sp-2;
  transition: padding linear #{$transition-duration * 0.5};

  @include mq(md) {
    position: relative !important;
    width: auto !important;
    height: 100% !important;
    padding: 0;
    transition: none;
  }
}

// The overlay is only active in tablet+desktop.
@include mq(md) {
  .search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition:
    opacity ease $transition-duration,
    width 0s $transition-duration,
    height 0s $transition-duration;
  }
  .search-active {
    .search {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 0;
    }
    .search-overlay {
      width: 100%;
      height: 100%;
      opacity: 1;
      transition:
      opacity ease $transition-duration,
      width 0s,
      height 0s;
    }
    .main {
      position: fixed;
      right: 0;
      left: 0;
    }
  }
}
