// Utility classes for typography
@use "../mixins";
@use "../vars";

.fs-1 {
  @include mixins.fs-1;
}

.fs-2 {
  @include mixins.fs-2;
}

.fs-3 {
  @include mixins.fs-3;
}

.fs-4 {
  @include mixins.fs-4;
}

.fs-5 {
  @include mixins.fs-5;
}

.fs-6 {
  @include mixins.fs-6;
}

.fs-7 {
  @include mixins.fs-7;
}

.fs-8 {
  @include mixins.fs-8;
}

.fs-9 {
  @include mixins.fs-9;
}

.fs-10 {
  @include mixins.fs-10;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.lh-0 {
  line-height: 0 !important;
}

.lh-default {
  line-height: vars.$body-line-height;
}

.lh-tight {
  line-height: vars.$body-heading-line-height;
}

.ls-5 {
  letter-spacing: 0.05em !important;
}

.ls-10 {
  letter-spacing: 0.1em !important;
}

.ls-0 {
  letter-spacing: 0 !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}
